@using Faculdade.Models
@{
    ViewBag.Title = "Notas";
}

<h2>Notas</h2>

@using (Html.BeginForm()) { 
    <div class="row">
        <div class="col-md-12">
            @if (Model != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Curso</th>
                            


                        </tr>
                    </thead>
                    <tbody>

                        @foreach (Aluno item in Model)
                        {

                            <tr>

                                <td>@item.nome</td>
                                <td>@item.email</td>
                                <td>@item.cidade</td>
                                
                                <td>
                                    <a href="/Aluno/editar/@item.codigo">Editar</a> <label>|</label>
                                    <a href="/Aluno/Excluir/@item.codigo">Excluir</a> <label>|</label>
                                    <a href="Aluno/EditarNota/@item.codigo">Notas</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            }
        </div>
    </div>
}

