@using Faculdade.Models
@model Curso
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar - Meu Aplicativo ASP.NET</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Faculdade</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">In&#237;cio</a></li>
                    <li><a href="/Aluno/Cadastro">Cadastro Aluno</a></li>
                    <li><a href="/Aluno">Lista de Alunos</a></li>
                    <li><a href="/Cursos/Adicionar">Cadastro de Cursos</a></li>
                    <li><a href="/Cursos">Lista de Cursos</a></li>
                    <li><a href="/Professor">Lista de Professores</a></li>
                    <li><a href="/Professor/Adicionar">Cadastro de Professor</a></li>
                    <li><a href="/Cursos/Disciplina">Disciplinas</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">



        <h2>Editar</h2>
        <form action="/Cursos/Editar" method="post">
            <div class="form-group">
                <label class="control-label col-md-2" for="nome">Nome do curso:</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="Campo obrigatorio" id="nome" name="nome" type="text" value="@Model.nome" /><input type="hidden" value="@Model.codigo" name="codigo" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="nome" data-valmsg-replace="true"></span>
                </div>
            </div>
            <input type="submit" value="Cadastrar" />
        </form>

    </div>

    <script src="/Scripts/jquery-3.4.1.js"></script>

    <script src="/Scripts/bootstrap.js"></script>


</body>
</html>
